/AnnotationBeanScopeDemoApp.class
/AnnotationDemoApp.class
/Coach.class
/DatabaseFortuneService.class
/FortuneService.class
/HappyFortuneService.class
/JavaConfigDemoApp.class
/RESTFortuneService.class
/RandomFortuneService.class
/SadFortuneService.class
/SportConfig.class
/SwimCoach.class
/SwimJavaConfigDemoApp.class
/TennisCoach.class
